.liquid {
  background-image: linear-gradient(90deg, #E85A80, #FAC140, #50B9B0, #A4D27A, #914A6A);
  background-size: 300%;
  animation: button-animation 5s infinite alternate;
  height: 2rem;
  width: auto;
  padding: 2em 3em;
  font-size: 1.3rem;
  border:none;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 540px;
  left: 50%;
  transform: translate(-50%);
  p#text-liquid{
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
}

@keyframes button-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

.liquid:hover,
.liquid:focus {
  background-image: liner-gradient(90deg, #F5BBB8, #FCFFCC, #f6f6f6, #99FFC0, #D6A6FF);
  animation: button-animation 5s infinite alternate-reverse;
}