@import '../../../styles/variables.scss';
.carousel-root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.carousel .slide{
  background: $primary-colour;
}

.carousel li img{
  height: $screenY;
  width: 100%
}

#hero #hero-liquid {
  position: absolute;
  top: 540px;
  left: 50%;
  transform: translate(-50%);
}