@import '../../styles/variables.scss';

#pricing {
  background: $primary-colour;
  height: $screenY;
  z-index: -1;
  color: $secondary-colour;
  .writeUp {
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
    .section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      .button2-pricing{
        padding:1em;
      }
      .BASIC {
        h3{
          color: red;
        }
      }
      .ADVANCED{
        h3{
          color: #FAB33E;
        }
      }
      .PRO{
        h3{
          color: #5EE2E9;
        }
      }
    }
  }
}