.burger {
  position: absolute;
  left: 3rem;
  top: 3rem;
  
  ul {
    padding: 0;
  }

  .ul--hide{
    display: none;
  }
  .ul--show{
    display: block;
    list-style-type: none;
    li {
      display: flex;
      margin-top: 1rem;
    }
  }
}