@import '../styles/variables.scss';

.burger {
  position: absolute;
  left: 3rem;
  top: 3rem;
  list-style-type: none;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  
  .show{
    color: $secondary-colour;
  }
  .hide {
    color: $primary-colour;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .ul--hide{
    display: none;
  }
  .ul--show{
    li {
      display: flex;
      a {
        color: $secondary-colour;
        text-decoration: none;
        margin-top: 1rem;
      }
    }
    .circle {
      position:absolute;
      top: -3rem;
      left: -3rem;
      z-index:-1;
      display: block;
      border-bottom-right-radius: 100%;
      background: $primary-colour;
      height: 300px;
      width: 300px;
    }
  }
}